@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara&family=Prompt:ital,wght@1,900&family=Rokkitt:wght@200&display=swap');

.Theme-1 { color: #082442; }
.Theme-2 { color: #11385C; }
.Theme-3 { color: #75C3CD; }
.Theme-4 { color: #F3F0F0; }
.Theme-5 { color: #8F042C; }


